%h1 pastest

%h2
  Recent pastes
  %small (#{@num_recent}/#{@num_total}, #{@num_private} private)

%ul
  - @recent.each do |p|
    %li
      %a{:href => to("/#{p.id}")}= p.id

%h2 Create new paste

%form{:action => "", :method => "post"}
  %textarea{:name => "paste[body]"}
  %input{:type => "checkbox", :name => "paste[private]", :value => "true"}
  %select{:name => "paste[language]"}
    - @languages.each do |k, v|
      %option{:value => k}= v
  %input{:type => "submit", :value => "Paste"}
